* text=auto eol=lf
*.png binary

# Left out of the release zip (npm run pack).
/test export-ignore
/tools export-ignore
/package.json export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
